body {
    background-color: #f5f6fa;
    font: 1em "Arial";
    margin-top: 5%;
    display: grid;
    /* grid-template-columns: 25% 5% 45% 25%; */
    /* grid-template-rows: 10% 90%; */
    grid-template-columns: repeat(12 / 8.33%);
    /* grid-template-rows: repeat(2 / 50%); */
    align-content: start;
    margin: .5em;
    margin-left: 30%;
    margin-right: 30%;
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    color: #cfd0d1;
    pointer-events: none;
    display: block; /* For Firefox */
}
  
.profile-link {
    font-weight: bold;
    color: #565bb3;
}

.new-comment {
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-radius: .5em;
    border-radius: .5em;
    background-color: #ffffff;
    border: 2px #f5f6fa;
    grid-column: 1/12;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-comment-editable {
    width: 32vw;
    height: 5em;
    border-style: solid;
    border-width: 1px;
    border-color: #eaebee;
    padding: .25em;
    padding-left: .5em;
    padding-right: .5em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: .25em;
}

.send-button {
    background-color: #565bb3;
    border-radius: .5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    color:#ffffff;
    padding-top: .75em;
    height: 2em;
}

.attribution {
    font-size: 11px;
    text-align: center;
    grid-column: 1/12;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

.comment {
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: .5em;
    border-radius: .5em;
    background-color: #ffffff;
    border: 2px #f5f6fa;
    grid-column: 1/12;
}

.comment-reply {
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: .5em;
    background-color: #ffffff;
    /* box-shadow:1px 1px 1px lightgrey; */
    border: 2px #f5f6fa;
    grid-column: 3/12;
}

.reply-spacer {
    border-right: .15em solid #eaebee;
    grid-column: 1/2;
    padding-left: .5em;
    padding-right: 1.5em;
    margin-right: 1em;
}

.comment-contents {
    display: grid;
    /* grid-template-columns: 25% 5% 45% 25%; */
    /* grid-template-rows: 10% 90%; */
    grid-template-columns: repeat(12 / 8.33%);
    /* grid-template-rows: repeat(2 / 50%); */
    align-content: start;
    margin: .5em;
    padding-left: 1em
}

.like-count {
    margin-bottom: -.4em;
}

.like-counter {
    grid-column: 1 / 2;
    grid-row: 1 / 4 ;
    padding-top: .25em;
    padding-bottom: .25em;
    margin-right: .5em;
    background-color: #f5f6fa;
    height: 5em;
    width: 2em;
    border-radius: .5em;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #545283;
}

.comment-head {
    grid-column: 2/8;
    grid-row: 1;
    padding-right: 1em;
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.comment-timestamp {
    color: #72757a;
    padding-right: .25em;
    padding-left: .25em;
}

.profile-picture {
    height:2em;
    padding-right: .25em;
    padding-left: .25em;
}

.comment-username {
    padding-right: .25em;
    padding-left: .5em;
}

.comment-delete-button {
    padding-right: 1em;
    padding-left: 1em;
    grid-column: 10/11;
    grid-row: 1;
    align-self: left;
    color: #ed6565;
}
.comment-reply-button {
    padding-right: 1em;
    padding-left: 1em;
    grid-column: 11/12;
    grid-row: 1;
    align-self: left;
    color: #6765a1;
}
.comment-edit-button {
    padding-right: 1em;
    padding-left: 1em;
    grid-column: 11/12;
    grid-row: 1;
    align-self: left;
    color: #6765a1;
}

.comment-text {
    padding-right: 1em;
    padding-left: 1em;
    /* padding-top: .25em;
    padding-bottom: .25em; */
    grid-column: 2/12;
    grid-row: 3;
    color: #65686d;
}

.comment-you {
    background-color: #5858b8;
    border-radius: .25em;
    color: white;
    padding-top: .1em;
    padding-bottom: .2em;
    padding-right: .3em;
    padding-left: .3em;
    font-size: .8em;
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
    align-items: center;
}